body {
    background-color: white;
    text-align: center;
}

h1 {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    border: 2px solid green;
}

.myList {
    background-color: green;
    box-shadow: 10px 10px 5px darkgreen;
    border-radius: 16px;
    width: 60%;
    margin-left: 250px;
}

#listElement {
    font-size: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

#xButton {
    color: white;
    border-radius: 100px;
    border: 2px solid darkgreen;
    background-color: darkgreen;
    margin-bottom: 7px;
}

#xButton:active, #submitButton:active {
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

#submitButton {
    border: 2px solid green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 16px;
    background-color: green;
}

#inputBar {
    background-color: green;
    border: 2px solid green;
    margin-bottom: 20px;
    margin-right: 10px;
}

::placeholder {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightgray
}

input[type=text] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}